[submodule "lab/vector"]
	path = lab/vector
	url = git@github.com:Conless/vector.git
[submodule "lab/priority_queue"]
	path = lab/priority_queue
	url = git@github.com:Conless/priority_queue.git
[submodule "lab/map"]
        path = lab/map
        url = git@github.com:Conless/map.git
